@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  input,
  select,
  #file-uploader {
    @apply dark:!text-white dark:!bg-gray-800;
  }
}

@layer components {
  .alert {
    @apply flex justify-between text-left flex-col md:flex-row outline-0 border-0;
  }
  .alert-child {
    @apply flex gap-[0.5rem];
  }
  .alert-btn {
    @apply btn btn-sm text-white uppercase bg-[#3d4451] border-0 outline-0 hover:bg-[#292d36];
  }
  .bg-bright {
    @apply bg-gradient-to-br from-sky-500 to-emerald-600 rounded-lg !text-white;
  }
}

body {
  font-family: DM Sans, system-ui, Avenir, Helvetica, Arial, sans-serif !important;
}

h3 {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif !important;
}

#device_status .step {
  display: flex;
  gap: 16px;
  height: 14px;
}
#device_status .state {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
#device_status .node {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  display: inline-block;
  transition: all 1000ms ease;
  background: rgb(173 178 184);
}
#device_status .divider {
  height: 40px;
  width: 4px;
  margin-left: 5px;
  transition: all 800ms ease;
  background: rgb(173 178 184);
  margin-top: -1px;
  margin-bottom: -1px;
}
#device_status .divider:before,
#device_status .divider:after {
  background-color: white;
}
#device_status .step p {
  display: inline-block;
  line-height: 14px;
  font-size: 14px;
  /* color: rgb(65, 69, 82); */
  margin: 0;
}
#device_status .step p.timeframe {
  font-size: 12px;
}
#device_status .green {
  background: rgb(36, 180, 126);
}
#device_status .yellow {
  background: rgb(250, 200, 0);
}

#signer-progress * {
  transition: all 250ms;
}

#signer-progress #status > p:first-child {
  display: block !important;
}

#signer-progress #status > p:nth-child(2) {
  display: block !important;
  font-size: 0.75rem;
  line-height: 1rem;
}

#signer-progress #status > p {
  display: none;
}

#signer .progressbar {
  width: 100%;
  background: rgb(229 231 235);
  border-radius: 100px;
  height: 0.625rem;
}

#signer .progressbarfill {
  height: 100%;
  border-radius: 100px;
  background: #0096c7;
}

#signer #output {
  line-height: 0;
}

#signer #output > a {
  text-align: center;
  color: white;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  margin-top: 0.5rem;
  display: block;
  border-radius: 0.5rem;
  background: rgb(29 78 216);
}

#signer #output > svg {
  display: none;
}
